.form-control {
  width: 80%;
  float: left;
}
.Dictionary {
  margin: 30px;
  align-items: center;
}
.definition {
  background-color: #fff5eb;
  border: #eed8cb 1px solid;
  border-radius: 3px;
}
.example {
  background-color: #deedf0;
}
.partOfSpeech {
  background-color: #f4c7ab;
}
