body {
  background-color: #404b69;
  margin-top: 20px;
  font-family: "Playfair Display", serif;
  line-height: 1.6;
}

.Dictionary {
  width: 1024px;
  height: auto;
  position: relative;
  clear: both;
  margin: 0 auto;
  border-radius: 4px;
}

.form-control {
  width: 75%;
  display: inline;
  border-radius: 20px;
  height: 40px;
  color: #3f72af;
}
.search-btn {
  display: inline;
  border-radius: 50px;
  margin-left: 20px;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(128, 128, 128, 0.385);
}
.form-inline {
  width: 1170px;
  position: relative;
  clear: both;
  margin: 0 auto;
}
h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.section {
  color: #112d4e;
  background-color: #dbedf3;
  margin: 125px 0px 0px 0px;
  padding: 25px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.185);
  border-radius: 8px;
}

.header {
  padding: 10px 16px;

  color: #dbe2ef;
}
